@use "abstracts" as *;

.hero {
  color: $clr-primary;
  background-color: $clr-secondary;

  &-container {
    width: min(90%, 70.5rem);
    margin-inline: auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    height: 100vh;
  }

  &--text {
    .greeting-txt {
      font-size: clamp(7rem, 10vw, 9rem);
      text-align: left;
      font-weight: 700;
    }

    .name-txt {
      font-size: clamp(2rem, 4.5vw, 3.5rem);
    }
    .description-txt {
      font-size: clamp(1rem, 1.5vw, 1.5rem);
    }
  }
}
